h1.render {
  text-rendering: optimizeLegibility;
}

h1.back {
  background: grey;
  width: 100%;
  color: white;
  padding: 1em;
  text-align: center;
}

h1.mask {
  font: 200px Bebas;
  background: url(masking.png);
  -webkit-background-clip: text;
  color: #000;
  -webkit-text-fill-color: transparent;
}

h1.shadow {
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

h1.three {
  text-shadow: 0 1px 0 #ccc, 0 2px 0 #c5c5c5, 0 3px 0 #bbb, 0 4px 0 #b5b5b5,
    0 5px 0 #aaa, 0 6px 0 #a5a5a5, 0 7px 3px rgba(0, 0, 0, 0.3),
    0 10px 10px rgba(0, 0, 0, 0.2), 0 10px 20px rgba(0, 0, 0, 0.15),
    0 20px 20px rgba(0, 0, 0, 0.1);
}

h1.glow {
  background: black;
  text-shadow: 0 0 10px #fff, 0 0 20px rgba(255, 255, 255, 0.3),
    0 0 30px rgba(33, 207, 255, 1), 0 0 40px rgba(33, 207, 255, 0.8),
    0 0 60px rgba(33, 207, 255, 0.5), 0 0 100px rgba(33, 207, 255, 0.3);
  color: rgba(255, 255, 255, 0.8);
}

h1.glow-transparent {
  background: black;
  padding: 0;
  font-size: 80px;
  text-shadow: 0 0 10px #fff, 0 0 30px rgba(33, 207, 255, 1),
    0 0 40px rgba(33, 207, 255, 0.8);
  color: transparent;
}

h1.gradient-shadow-text {
  text-shadow: 0 0 5px rgba(255, 0, 0, 0.5), 0 0 10px rgba(255, 128, 0, 0.5),
    0 0 15px rgba(255, 255, 0, 0.5);
}

h1.animated-shadow-text {
  transition: text-shadow 0.3s ease-in-out;
}

h1.animated-shadow-text:hover {
  text-shadow: 0 0 10px blue, 0 0 20px purple;
}
